body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
}

.info {
  padding: 4px 6px;
  font: 12px/14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.664);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 6px;
  }

.legend {
  background-color: “black”;
  line-height: 20px;
  color: #555;
  width: auto;
}

.legend i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
  opacity: 0.5;
}
